.charity-block {
    @apply my-8 text-left;

    .charity-block-logo {
        @apply p-12;

        img {
            max-height: 256px;
        }
    }

    .charity-block-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1, h2 {
            @apply mb-5;
            text-transform: uppercase;
        }
    }
}