# Application
web/app/logs
web/app/themes
web/app/uploads
!web/app/plugins/.gitkeep
web/app/mu-plugins/
web/app/plugins/*
!web/app/plugins/qr-code-generator
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/index.php
web/wp-config.php
web/.htaccess
web/wp/**

# Include our custom theme
!web/wp 
!web/wp/wp-content
!web/wp/wp-content/themes
!web/wp/wp-content/themes/supportandfeed
!web/wp/wp-content/themes/supportandfeed/**

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Other
.vscode
