
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 
    Font definitions
*/

// Import custom icon font
@import '../../sf-iconset.css';

@font-face {
    font-family: 'Druk';
    src: url( '../../fonts/Druk-Bold.otf' );
}

@font-face {
    font-family: 'Druk';
    font-style: italic;
    src: url( '../../fonts/Druk-BoldItalic.otf' );
}

@font-face {
    font-family: 'Druk Wide';
    src: url( '../../fonts/DrukTextWide-Medium.otf' );
}

@font-face {
    font-family: 'GOBOLD';
    src: url( '../../pledge/Gobold Regular.otf' );
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');

// Styles 

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
}

@import './ui-elements.scss';

// Import page specific styles
@import './pages/front-page.scss';
@import './pages/page-brand-partnerships.scss';
@import './pages/page-about.scss';
@import './pages/page-our-impact.scss';
@import './pages/page-donate.scss';
@import './pages/page-why-plantbased.scss';
@import './recipe-post-type.scss';
@import './gift-post-type.scss';
@import './pages/error-pages.scss';

// Import styles specific to blocks
@import './blocks/blocks.scss';

::selection {
    @apply bg-primary;
    color: black;
}

// Top horizontal navbar
.main-navbar {
    .navbar-logo-img {
        height: 50px;
    }
    
    .menu-item a {
        @apply uppercase;
        
        display: block;
        font-family: 'Druk';
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-style: italic;
    }

    .menu-item a:hover {
        cursor: pointer;
    }

    .menu-item:hover .sub-menu {
        display: block;
    }

    .menu-item:last-child {
        a {
            @apply bg-primary ml-1 text-black;

            .fill {
                @apply bg-green-darkened text-white;
            }
            
        }
        a:hover {
            @apply bg-primary;
        }
        
    }

    .sub-menu {
        @apply bg-black; 

        display: none;
        position: absolute;
        z-index: 10;

        .submenu-item a {
            @apply px-4 py-3;
            font-style: normal;
            font-size: 1.5rem;
        }

        .submenu-item a:hover {
            @apply bg-primary text-black;
        }
    }

    #menu-expand-btn {
        svg {
            fill: white;
        }
    }

    #menu-expand-btn:hover {
        cursor: pointer;

        svg {
            fill: black;
        }
    }
}



#menu-mobile-full {
    .menu-item {
        @apply px-5 py-2 uppercase;

        font-family: 'Druk';
        letter-spacing: 1px;
        font-style: italic;
    }

    .menu-item a {
        @apply text-6xl;
    }

    .sub-menu {
        @apply pt-3 pb-6;
    }

    .sub-menu a {
        @apply py-2;
        font-size: 1.5rem;
        font-style: normal;
    }
}

.navbar-sticky { 
    top: 0;
    position: fixed;
    z-index: 9000; 

    .navbar-logo-img {
        animation: navbar-icon-shrink 0.3s ease-out alternate;
        height: 30px;
    }

    .menu-item a {
        animation: navbar-links-shrink 0.3s ease-out alternate;
        font-size: 1.5rem;
    }
}

@keyframes navbar-icon-shrink {
    0% { height: 50px; }
    100% { height: 30px; }
}

@keyframes navbar-links-shrink {
    0% { font-size: 1.8rem; }
    100% { font-size: 1.5rem; }
}

.text-image-section {

    min-height: 600px;

    h1, h2, h3 {
        @apply mb-16 text-druk-bold; 
    }

    p {
        @apply my-4;
        font-size: 1.2rem;
        font-family: 'Noto Sans JP';
        line-height: 1.7;
    }

    .section-header {
        @apply text-7xl;

    }

    .section-image {
        background-size: cover;
        background-position: 50% 50%;
    }
}

#footer {

    #footer-menus-container {
        .menu-item {
            @apply text-base pb-2 font-light;
        }

        .menu-item:hover {
            @apply underline;
        }
    }

    #footer-signup {
        #footer-signup-constraint {
            flex: 1;
            max-width: 600px;
        }
    }

    .sml_subscribe {
        display: flex;
        align-items: center;
        
        .sml_emaillabel, .sml_name {
            display: none;
        }

        .sml_email {
            margin-bottom: 0;
            margin-right: 10px;
            color: black;
        }

        .sml_submit {
            margin-bottom: 0;
        }
    }

    

}

#pageCover {
    min-height: 60vh;
    
    background-position: center;
}

.faq-container {

    border-bottom: 3px solid black;
    background-color: white;

    .faq-question {
        @apply py-4 px-4;
        cursor: pointer;
    }

    .faq-paragraph {
        @apply px-4;
    }
}