
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 
    Font definitions
*/
@font-face {
    font-family: 'Druk';
    src: url( '../../fonts/Druk-Bold.otf' );
}

@font-face {
    font-family: 'Druk';
    font-style: italic;
    src: url( '../../fonts/Druk-BoldItalic.otf' );
}

@font-face {
    font-family: 'Druk Wide';
    src: url( '../../fonts/DrukTextWide-Medium.otf' );
}

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');
// Styles 

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

b {
    font-weight: 900;
}

.text-druk-bold {
    font-family: 'Druk';
}

h1 {
    @apply text-6xl;
    font-family: 'Druk';
    letter-spacing: 1px;
    font-weight: bold;
}

button {
    @apply py-3 px-6 bg-black text-white text-sm;
}

button:hover {
    @apply bg-gray-700;
}

button:active {
    @apply bg-gray-600;
}

// Top horizontal avbar

#main-navbar {
    #navbar-logo-img {
        height: 50px;
    }
    
    .menu-item {
        @apply px-5 py-2 uppercase;
        
        font-family: 'Druk';
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-style: italic;
    }

    .menu-item:hover {
        @apply bg-green-darkened;

        cursor: pointer;
    }
}


.text-image-section {

    min-height: 600px;

    .section-header {
        @apply text-7xl;

    }

    .section-image {
        background-size: cover;
        background-position: 50% 50%;
    }
}