#recipe-post-type {

    .recipe-header {
        min-height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin-bottom: 120px;
        align-items: flex-end;

        .recipe-title-container {
            @apply bg-blue-500 text-primary;
    
            padding: 40px 60px;   
            text-transform: uppercase;
            margin-bottom: -30px;
            max-width: 50vw;
        }

        .recipe-title {
            @apply text-druk-bold;
            font-size: 6rem;
            margin-bottom: -20px;
        }

        .recipe-author {
            font-size: 1.2em;
        }

        @media (max-width: 768px) {
            .recipe-title-container {
                padding: 30px 50px;   
                max-width: 100vh;
                text-transform: uppercase;
            }

            .recipe-title {
                font-size: 5em;
            }

            .recipe-author {
                font-size: 1em;
            }
        }
    }

    
}