
b {
    font-weight: 700;
}

.text-druk-bold {
    font-family: 'Druk';
}

h1 {
    @apply text-6xl;
    font-family: 'Druk';
    letter-spacing: 1px;
    font-weight: bold;
}

h2 {
    @apply text-4xl;
    font-family: 'Druk Wide';
}

h3 {
    @apply text-3xl;
    font-family: 'Druk Wide';
}

button, input[type=submit] {
    @apply py-3 px-6 bg-black text-white text-lg cursor-pointer;
}

button:hover, input[type=submit]:hover {
    @apply bg-gray-700;
}

button:active, input[type=submit]:active {
    @apply bg-gray-600;
}

p {
    @apply text-base mb-8;
    font-family: 'Noto Sans JP';
    font-weight: 300;
}

label {
    @apply font-medium;
}

input[type=text], 
input[type=email], 
input[type=password], 
textarea {
    @apply px-2 py-2 w-full mt-2;

    border: 3px solid black;
}

input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus, 
textarea:focus {
    @apply border-green-darkened bg-gray-100;
}