b {
    font-weight: 700;
}

.text-druk-bold {
    font-family: 'Druk';
}

.text-druk-wide {
    font-family: 'Druk Wide';
}

h1 {
    @apply text-6xl;
    font-family: 'Druk';
    letter-spacing: 1px;
    font-weight: 300;
}

h2 {
    @apply text-4xl;
    font-family: 'Druk Wide';
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl mb-4;
}

.button,
input[type=submit],
.wp-block-button__link {
    @apply py-3 px-6 text-lg cursor-pointer rounded-none;
}

.button-secondary,
input[type=submit],
.wp-block-button__link {
    @apply bg-black text-white;
}

.button-secondary:hover,
input[type=submit]:hover,
.wp-block-button__link:hover {
    @apply bg-gray-700;
}

.button-secondary:active,
input[type=submit]:active,
.wp-block-button__link:active {
    @apply bg-gray-600;
}

.button-primary {
    @apply bg-green-darkened text-white;
}

.button-primary:hover {
    @apply bg-green;
}

.button-primary:active {
    @apply bg-lime-500;
}

p {
    @apply text-base mb-8;
    line-height: 1.4;
    font-family: 'Noto Sans JP';
    font-weight: 300;
}

form {
    label {
        @apply font-medium mb-2;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
        @apply px-2 py-2 w-full;
        border: 3px solid black;
    }
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus,
    textarea:focus {
        @apply border-gray-500 bg-gray-100;
    }
}

.page {
    font-size: 1.1rem;

    ul {
        list-style: circle inside;
        margin-bottom: 2em;
    
        li {
            font-size: 0.8em;
            margin-bottom: 0.2em;
            font-weight: 300;
        }
    }
    
    ol {
        list-style: decimal;
        margin-left: 1em;
    
        li {
            font-size: 0.8em;
            margin-bottom: 0.5em;
            font-weight: 300;
        }
    }

    p a {
        @apply text-green-darkened;
    }
    
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    background-color: rgba( 0, 0, 0, 0.5 );
    display: flex;
    align-items: center;
    justify-content: center;

    .popup {
        background-color: black;
        color: white;
        background-repeat: no-repeat;
        background-size: contain;

        #text {
            margin-left: auto;
        }
        
        @media (min-width: 769px) {
            #pledge-text {
                font-size: 8em;
                margin-bottom: -60px;
            }

            #pledge-subtitle {
                font-size: 3em;
            }
        }

        @media (max-width: 768px) {
            #pledge-text {
                font-size: 5em;
                margin-bottom: -25px;
            }

            #pledge-subtitle {
                font-size: 1.9em;
            }
        }
    }
}