@font-face {
  font-family: 'sf-iconset';
  src:  url('fonts/sf-iconset.eot?sjfwjv');
  src:  url('fonts/sf-iconset.eot?sjfwjv#iefix') format('embedded-opentype'),
    url('fonts/sf-iconset.ttf?sjfwjv') format('truetype'),
    url('fonts/sf-iconset.woff?sjfwjv') format('woff'),
    url('fonts/sf-iconset.svg?sjfwjv#sf-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sf-iconset' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-bars:before { content: '\e900'; } /* '' */
.icon-tiktok:before { content: '\e901'; } /* '' */
.icon-facebook:before { content: '\ea90'; } /* '' */
.icon-instagram:before { content: '\ea92'; } /* '' */
.icon-twitter:before { content: '\ea96'; } /* '' */
.icon-linkedin2:before { content: '\eaca'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
