
#front-page {

// Home page slideshow
#main-slideshow {
    height: 90vh;
    min-height: 500px;
    position: relative;

    #image-container{
        .slideshow-image {
            position: absolute;
            display: inline-block;
            background-size: cover;
            
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    #slideshow-text-container {
        @apply text-white;
        z-index: 2;

        #slideshow-text-box {
            background-color: rgba( 0, 0, 0, 0.8 );
        }

        #slideshow-text {
            // background-color: black;
            font-family: 'Druk';
            font-size: 3em;
            line-height: 1.2em;
        }
    }

}

#contacts-section {
    min-height: 500px;

    #email-field-container {
        input {
            border: 4px solid black;
            background-color: white;
            padding: 8px 12px;
        }
    }
}

#sponsors-section {
    .sponsor-container {
        display: inline-block;

        img {
            max-height: 100px;
        }
    }
}

#our-mission-section {
    min-height: 90vh;
    background-size: cover;
    background-color: #173aec;
    color: white;
    font-family: 'Druk';


    p { 
        line-height: 1.2;
        font-family: 'Druk';

    }

    @media (min-width: 1024px) {
        p {
            font-size: 2.5em;
        }
    }
    @media (max-width: 1023px) {
        p {
            font-size: 1.7em;
        }
    }
}

.customize-partial-edit-shortcut button {
    left: 0;
}

}