
#front-page {

// Home page slideshow
#main-slideshow {
    @apply bg-black;
    height: 90vh;
    min-height: 500px;
    position: relative;

    #sf-video-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #sf-video {
        min-height: 100%;
        min-width: 100%;
        z-index: 1;
        object-fit: cover;
    }
    
    #sf-text-overlay {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;

        #sf-text-container {
            width: 100%;
        }

        #sf-video-text {
            padding: 12px 18px;
            font-family: 'Druk';
            font-size: 3.5em;
            color: white;
            background-color: black;
            box-shadow: 5px 5px 0 rgba( 0, 0, 0, 0.33 );
            max-width: 50%;
            line-height: 1.1;
        }

        @media (max-width: 1023px) {
            #sf-video-text {
                font-size: 2.5em;
                max-width: 100%;
            }
        }
    }
}

#contacts-section {
    min-height: 500px;

    #email-field-container {
        input {
            border: 4px solid black;
            background-color: white;
            padding: 8px 12px;
        }
    }
}

#sponsors-section {
    .sponsor-container {
        display: inline-block;

        img {
            max-height: 100px;
        }
    }
}

#our-mission-section {
    min-height: 90vh;
    background-size: cover;
    background-color: #173aec;
    color: white;
    font-family: 'Druk';

    #our-mission-box {
        background-color: #1131d1;
    }

    p { 
        font-family: 'Noto Sans JP';
        line-height: 1.6;
    }

    @media (min-width: 1024px) {
        p {
            font-size: 1.8rem;
        }
    }
    @media (max-width: 1023px) {
        p {
            font-size: 1.3rem;
        }
    }
}

.customize-partial-edit-shortcut button {
    left: 0;
}

}