#p-our-impact {

    #cover {
        @apply bg-pink;

        #cover-quote {
            @apply text-yellow-500;
            font-size: 4.4em;
            font-family: 'Druk';
            text-transform: uppercase;
            line-height: 1;
        }

        #cover-author {
            color: white;
            // text-transform: uppercase;
            font-size: 1.3em;
            font-style: italic;
        }
    }

    #about-paragraph {
        font-size: 1.5em;
        text-align: center;
        color: black;
        line-height: 1.4;

    }

    #quotes {
        .quote {
            @apply px-8 py-8 my-16;
            font-weight: 700;
            font-size: 1.4em;
            line-height: 1.3;
            text-align: justify;
            box-shadow: 5px 5px 0 white;
            border: 2px solid black;

            .quote-author {
                @apply mt-8;

                font-size: 0.9em;
                text-transform: none;
                font-style: italic;
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        #quote-1 {
            @apply bg-orange ;
        }

        #quote-2 {
            @apply bg-light-blue-500;
        }
    }
}