#p-about {
    
    #founderImage {
        z-index: 1;
    }

    #founderLetter {
        z-index: 2;
        box-shadow: 5px 5px 0 rgba( 0, 0, 0, 0.2 );
    }

    #missionStatementBox {
        color: white;

        #missionStatementTitle {
            font-size: 5.5rem;
        }

        #missionStatement {
            line-height: 1.5 !important;
            font-size: 1.8rem; 
            font-weight: 300;
        }

        @media ( max-width: 768px ) {
            #missionStatement {
                font-size: 1.6rem;
            }
        }
    }

}