#p-about {

    #cover {
        background-size: cover;

        #cover-quote {
            // font-size: 4.4em;
            font-family: 'Druk';
            color: white;
            text-transform: uppercase;
            line-height: 0.9;
        }

        @media (min-width: 1024px) {
            #cover-quote {
                font-size: 4.4em;
            }
        }

        @media (max-width: 1023px) {
            #cover-quote {
                font-size: 3em;
            }
        }

        #cover-author {
            font-size: 2em;
            font-family: 'Druk';
            font-style: italic;
            color: white;
        }
    }
}

